* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	outline: none;
	background-color: 'whitesmoke';
	font-family: sans-serif;
}

.loading {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 9999;
	transform: translate(-50%, -50%)
}

.copyright {
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	color: #aaa;
	font-weight: 100;
}