* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	outline: none;
	background-color: 'whitesmoke';
	font-family: "Lato", sans-serif;
	overflow: hidden;
}

.align-center {
	position: absolute;
	top: 30%;
	left: 50%;
	z-index: 99999;
	transform: translate(-50%, -50%)
}
#canvas-image-blending {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.copyright {
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	color: #aaa;
	font-weight: 100;
}

.text-split{
	opacity: .7;
	font-size: 2.3rem;
	color: white;
}

span.each-word {
	transition: all 2.5s linear;
	position: relative;
}

span.each-word.fade-out{
	animation: fadeOut 2.6s linear
}

span.each-word.fade-in{
	animation: fadeIn 2.6s linear
}

@keyframes fadeOut{
	0%{ opacity: 1 }
	70%{ opacity: .2 }
	100%{ opacity: 0 }
}

@keyframes fadeIn{
	0%{ opacity: 0 }
	60%{ opacity: .3 }
	100%{ opacity: 1 }
}
